<div class="wrapper">
    <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
    </div>

    <!-- Start Form Container -->
    <div class="form-container">
        <div class="slide-controls">
            <input type="radio" name="slider" id="login" checked>
            <input type="radio" name="slider" id="signup">
            <label for="login" class="slide login">Login</label>
            <label for="signup" class="slide signup"> Signup</label>
            <div class="slide-tab"></div>
        </div>

        <div class="form-inner">

            <!-- Start Login Form -->
            @using (Ajax.BeginForm("Login", "User", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess" }, new { @class = "login" }))
            {
                @*<form action="#" class="login">*@
                <div class="field">
                    <input name="userName" type="text" placeholder="Username or Email" required>
                </div>
                <div class="field">
                    <input name="password" type="password" placeholder="Password" required>
                </div>
                <div class="pass-link">
                    <a href="#">
                        Forgot password?
                    </a>
                </div>
                <div class="field">
                    <input type="submit" value="Login">
                </div>
                <div class="signup-link">
                    Not a member? <a href="#">Signup now</a>
                </div>
                @*</form>*@
            }

            <!-- Start Signup Form -->
            @using (Ajax.BeginForm("Register", "User", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess" }, new { @class = "signup" }))
            {
                @*<form action="#" class="signup">*@
                <div class="field">
                    <input name="UserName" type="text" placeholder="Username" required>
                </div>
                <div class="field">
                    <input name="Email" type="text" placeholder="Email Address" required>
                </div>
                <div class="field">
                    <input name="Password" type="password" placeholder="Password" required>
                </div>
                <div class="field">
                    <input name="Repassword" type="password" placeholder="Confirm password" required>
                </div>

                <div class="field">
                    <input type="submit" value="Signup">
                </div>

                @*</form>*@
            }
            </div>
    </div>
</div>
<script>
    function onSuccess(data) {
        debugger
        var message = "";
        if (data.length > 0) {
            $.each(data, function (i, fieldItem) {
                message += fieldItem;
                message += "</br>";
            });

            //$.each(data, function (i, fieldItem) {
            //    $.each(fieldItem.Value.Errors, function (j, errItem) {
            //        message += errItem.ErrorMessage;
            //    });
            //    message += "</br>";
            //});           
        }

        if (message != null && message != "") {
            $.dialog({
                title: 'warning',
                content: message,
            });
        } else {
            $.dialog({
                title: 'success',
                content: 'Login successfully',
            });
            setTimeout(function () { window.location = "/"; }, 1000);
        }

        
         

    }
</script>